DATABASE_URI=mongodb://pangmbkk:123456.com@cluster0-shard-00-00.y4p0w.mongodb.net:27017,cluster0-shard-00-01.y4p0w.mongodb.net:27017,cluster0-shard-00-02.y4p0w.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-kc6pey-shard-0&authSource=admin&retryWrites=true&w=majority